*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  padding-top: 133px;
  align-items: flex-end;
}
.result {
  margin-left: 30px;
}

.content__details {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.content__list {
  height: 298px;
  overflow-y: auto;
}

.title {
  margin-bottom: 26px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.result__video-container,
.content__list {
  position: relative; 
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: white;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: white;
  margin: 2px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: white;
  margin-top: 6px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  line-height: 90%;
  color: white;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  border: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
}

.search-form__textfield {
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  width: 225px;
  height: 27px;
  border: none;
  border-top:1px solid white;
  border-bottom:1px solid white;
  padding: 0;
  appearance: none;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid white;
  position: relative;
}

input[type="checkbox"]:checked + span::before {
  content: '';
  width: 15px;
  height: 15px;
  background-color: white;
  position: absolute;
  inset: 1px 1px;
}

.button {
  cursor: pointer;
  color: white;
  background: none;
  border: 1px solid white;
  padding: 0;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  min-height: 34px;
}

.button:focus,
.content__card-link:focus,
.search-form__textfield:focus {
  outline: none;
}

.button:hover,
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-decoration-skip-ink: none;
} 

.button:active,
.content__card-link:active .content__video-card,
.content__card-link_current {
  background: #545050;
}

.button:focus-visible,
.search-form__label:has(:focus-visible),
.content__card-link:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px; 
  text-underline-offset: 2px; 
}

.search-form__submit-button {
  width: 194px;
  margin-top: 15px;
}

.more-button {
  width: 399px;
}
